<!DOCTYPE html>
<html>
	<meta charset="UTF-8">
	<title>@ViewBag.Title</title>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css" rel="stylesheet" type="text/css"/>
	@foreach (var css in @ViewBag.CSSFiles)
	{
		<link href="@css" rel="stylesheet" type="text/css"/>
	}
<head>
</head>
<body>
	<section class="is-medium has-text-centered">
		<div class="hero-body">
			<div class="container">
				<h1 class="title is-2">
					<strong>@Model.GameTitle</strong
				</h1>
			</div>
		</div>
	</section>

	<section class="hero is-primary">
		<div class="hero-body">
			<div class="container">
				<div class="columns is-mobile">
					<div class="column is-half is-offset-one-quarter">
						<article class="media">
							<div class="media-content">
								<h2 class="title">Name: <strong>@Model.TrainerInfo.Name</strong></h2>
								<p class="subtitle">
									Money: <strong>@Model.TrainerInfo.FormattedMoney</strong>
									<br/>
									Play Time: <strong>@Model.TrainerInfo.PlayTime</strong>
								</p>
							</div>
							<div class="media-right">
								<figure class="image is-64x64">
									<img src="@Model.GameImagePath" alt="Game Image"/>
								</figure>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="columns is-multiline is-mobile">
				@foreach (var pokemon in Model.PartyMembers)
				{
					<div class="column is-one-third">
						<div class="box">
							<article class="media">
								<div class="media-content">
									<div class="content">
										<strong class="title is-4">@pokemon.Nickname</strong>
										<br/>
										<strong>Lv @pokemon.CurrentLevel @pokemon.Species</strong>
										<br/>
										@pokemon.Ability
										<br/>
										<small>Item: @pokemon.HeldItem</small>
									</div>
								</div>
								<div class="media-right">
									<figure class="image is-64x64">
										<img src="@pokemon.ImagePath" alt="Pokemon Image"/>
									</figure>
								</div>
							</article>
							<article class="media">
								<div class="media-content">
									<p class="subtitle">
									@foreach (string move in pokemon.Moves)
									{
										@move<br/>
									}
									</p>
								</div>
							</article>
						</div>
					</div>
				}
			</div>
		</div>
	</section>
</body>
</html>